html,body{
    width:100%;
    height:100%;
    color: white;
    font-family: 'Cabin', sans-serif;
}

header{
    border-bottom: 0.01rem solid black;
    background-color: rgb(255,147,60);
    color:black;
}

main{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255,204,144);
}

h1 {
    text-align: center;
}

.informacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
    align-items: center;
}

.dados{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    align-content: center;
}


h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    color:black;
}
.titulo{
    font-size: 2rem;

}

.escolha{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
    color:black;
    border: .1rem solid black;
    width: 30%;
    background-color: rgb(255,231,160);

}

.escolheu{
    margin-bottom: 2rem;
    border:.2rem dotted black;
    padding: 0rem 0.5rem 0rem;
}

footer{
    text-align: center;
    background-color: rgb(255,204,144);
    padding: 0.7rem;
}

a{
    text-decoration: none;
    color: black ;
}
.h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
}


